.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.position-relative:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.position-relative:hover img {
    transform: scale(1.05);
}

