.space-background-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* Deep space gradient with a "galaxy" feel */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background: linear-gradient(to bottom, #000000 0%, #0b1021 50%, #1b2735 100%);
  z-index: -10;
  pointer-events: none; /* Allow clicks to pass through */
}

/* Galaxy/Nebula Overlay */
.galaxy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(circle at 50% 50%, rgba(76, 29, 149, 0.1) 0%, transparent 50%),
    radial-gradient(circle at 80% 20%, rgba(13, 202, 240, 0.05) 0%, transparent 30%);
  pointer-events: none;
  z-index: -2;
}

/* Remove Galaxy Center */

/* Base stars */
.stars-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}

/* Shooting Star Animation */
.shooting-star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3000ms linear infinite;
  opacity: 0;
}

.shooting-star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}

/* Varied Shooting Stars */
.shooting-star:nth-child(1) { top: 0; right: 0; left: initial; animation-delay: 0s; animation-duration: 1s; }
.shooting-star:nth-child(2) { top: 0; right: 80px; left: initial; animation-delay: 0.2s; animation-duration: 3s; }
.shooting-star:nth-child(3) { top: 80px; right: 0px; left: initial; animation-delay: 0.4s; animation-duration: 2s; }
.shooting-star:nth-child(4) { top: 0; right: 180px; left: initial; animation-delay: 0.6s; animation-duration: 1.5s; }
.shooting-star:nth-child(5) { top: 0; right: 400px; left: initial; animation-delay: 0.8s; animation-duration: 2.5s; }
.shooting-star:nth-child(6) { top: 0; right: 600px; left: initial; animation-delay: 1s; animation-duration: 3s; }
.shooting-star:nth-child(7) { top: 300px; right: 0; left: initial; animation-delay: 1.2s; animation-duration: 1.75s; }
.shooting-star:nth-child(8) { top: 0; right: 700px; left: initial; animation-delay: 1.4s; animation-duration: 1.25s; }
.shooting-star:nth-child(9) { top: 0; right: 900px; left: initial; animation-delay: 0.75s; animation-duration: 2.25s; }
.shooting-star:nth-child(10) { top: 0; right: 450px; left: initial; animation-delay: 2.75s; animation-duration: 2.25s; }


/* Massive Star Field */
.stars-small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 
    1744px 122px #FFF, 134px 1321px #FFF, 92px 859px #FFF, 1928px 293px #FFF,
    500px 800px #FFF, 1000px 200px #FFF, 1500px 500px #FFF, 200px 1000px #FFF,
    800px 1500px #FFF, 1200px 900px #FFF, 1600px 1200px #FFF, 300px 300px #FFF,
    700px 700px #FFF, 1100px 1100px #FFF, 1400px 1400px #FFF, 1800px 1800px #FFF,
    600px 400px #FFF, 1300px 600px #FFF, 400px 1300px #FFF, 900px 1600px #FFF,
    150px 250px #FFF, 1850px 50px #FFF, 50px 1900px #FFF, 1250px 1750px #FFF,
    /* More stars */
    1700px 1200px #FFF, 200px 300px #FFF, 1900px 20px #FFF, 850px 100px #FFF,
    1150px 600px #FFF, 50px 150px #FFF, 1400px 800px #FFF, 1650px 1650px #FFF,
    250px 950px #FFF, 950px 250px #FFF, 1800px 1400px #FFF, 750px 1350px #FFF,
    1300px 50px #FFF, 450px 450px #FFF, 1550px 950px #FFF, 650px 1850px #FFF,
    1050px 1550px #FFF, 350px 750px #FFF, 1950px 450px #FFF, 550px 1150px #FFF;
  animation: animStar 50s linear infinite;
}

.stars-small:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 
    1744px 122px #FFF, 134px 1321px #FFF, 92px 859px #FFF, 1928px 293px #FFF,
    500px 800px #FFF, 1000px 200px #FFF, 1500px 500px #FFF, 200px 1000px #FFF,
    800px 1500px #FFF, 1200px 900px #FFF, 1600px 1200px #FFF, 300px 300px #FFF,
    700px 700px #FFF, 1100px 1100px #FFF, 1400px 1400px #FFF, 1800px 1800px #FFF,
    600px 400px #FFF, 1300px 600px #FFF, 400px 1300px #FFF, 900px 1600px #FFF,
    150px 250px #FFF, 1850px 50px #FFF, 50px 1900px #FFF, 1250px 1750px #FFF,
    /* More stars */
    1700px 1200px #FFF, 200px 300px #FFF, 1900px 20px #FFF, 850px 100px #FFF,
    1150px 600px #FFF, 50px 150px #FFF, 1400px 800px #FFF, 1650px 1650px #FFF,
    250px 950px #FFF, 950px 250px #FFF, 1800px 1400px #FFF, 750px 1350px #FFF,
    1300px 50px #FFF, 450px 450px #FFF, 1550px 950px #FFF, 650px 1850px #FFF,
    1050px 1550px #FFF, 350px 750px #FFF, 1950px 450px #FFF, 550px 1150px #FFF;
}

/* Medium Stars */
.stars-medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 
    500px 400px #FFF, 1600px 800px #FFF, 200px 1200px #FFF, 1300px 200px #FFF,
    900px 1500px #FFF, 1800px 600px #FFF, 600px 1000px #FFF, 1100px 1800px #FFF,
    1500px 1300px #FFF, 50px 50px #FFF, 1900px 1900px #FFF,
    /* More medium stars */
    300px 1400px #FFF, 1250px 250px #FFF, 750px 1050px #FFF, 1550px 550px #FFF,
    1650px 50px #FFF, 650px 350px #FFF, 950px 1650px #FFF, 1850px 1150px #FFF;
  animation: animStar 100s linear infinite;
}

.stars-medium:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 
    500px 400px #FFF, 1600px 800px #FFF, 200px 1200px #FFF, 1300px 200px #FFF,
    900px 1500px #FFF, 1800px 600px #FFF, 600px 1000px #FFF, 1100px 1800px #FFF,
    1500px 1300px #FFF, 50px 50px #FFF, 1900px 1900px #FFF,
    /* More medium stars */
    300px 1400px #FFF, 1250px 250px #FFF, 750px 1050px #FFF, 1550px 550px #FFF,
    1650px 50px #FFF, 650px 350px #FFF, 950px 1650px #FFF, 1850px 1150px #FFF;
}

/* Large Stars */
.stars-large {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 
    800px 600px #FFF, 1400px 1100px #FFF, 400px 1600px #FFF,
    100px 100px #FFF, 1700px 700px #FFF,
    /* More large stars */
    1300px 250px #FFF, 550px 1350px #FFF, 1650px 450px #FFF;
  animation: animStar 150s linear infinite;
}

.stars-large:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 
    800px 600px #FFF, 1400px 1100px #FFF, 400px 1600px #FFF,
    100px 100px #FFF, 1700px 700px #FFF,
     /* More large stars */
    1300px 250px #FFF, 550px 1350px #FFF, 1650px 450px #FFF;
}

@keyframes animStar {
  from { transform: translateY(0px) }
  to { transform: translateY(-2000px) }
}

.space-content {
  position: relative;
  z-index: 1;
}
